.detalhesPessoa{
	box-shadow: 0px 0px 5px grey;
	padding-top: 20px;
	padding-left: 20px;
	margin-bottom: 60px;
}

.formPessoa{
	box-shadow: 0px 0px 5px grey;
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 15px;
	margin-bottom: 60px;
}

.tabelaSenhas{
	width: 70%;
}

.errorCampo{
	color:red;
	padding-bottom: 10px;
}

