<!DOCTYPE html>
<html xmls:th="http://thymeleaf.org" xmls.layout="http://www.utraq.net.nz/thymeleaf/layourt">

<head>
	<title>SenhasApp</title>
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection" />

	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link type="text/css" rel="stylesheet" href="style/style.css" />
</head>

<header>

	<nav class=navbar>
		<div class="nav-wrapper">
			<a href="#" class="brand-logo">Pessoas da Família</a>

			</ul>
		</div>
	</nav>

</header>

<body class="corpo">

	<table class="container">
		<thead>
			<tr>
				<th class="posição-nome">Nome</th>

			</tr>
		</thead>
		<tbody>

			<tr th:each="pessoa : ${pessoas}">

				<td class="posição-nome"><span th:text="${pessoa.nome}"></span></td>
				<td><a class="input-field col s10"><a class="btn"
													  th:href="@{/{id}(id=${pessoa.id})}">Detalhes</a></td>
				<td><a class="btn" th:href="@{deletar(id=${pessoa.id})}"><i
							class="material-icons left">delete_forever</i>Deletar</a></td>



			</tr>

			<th:block th:insert="validation"></th:block>



		</tbody>





	</table>

	<div class="cadastrar"><a href="/cadastrarpessoa" class="btn"><i
				class="material-icons left">add_circle_outline</i>Cadastrar Pessoa </a></div>
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>

</body>

</html>